footer {
    background-color: #f5f5f5;
    font-size: 0.8em;
    width: 100vw;
    padding: 1em;
}

.links {
    margin-left: 10vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.links img {
    margin-right: 1vw;
    width: 32px;
    height: auto;
}

.links img:hover {
    transform: scale(1.2);
}

.signature {
    margin-top: 20px;
}

@media screen and (max-width: 560px) {
    .links img {
        width: 24px;
    }
}