.home-title {
    margin-left: 15vw;
    margin-top: 15vh;
}

.hero {
    font-size: 4em;
    max-width: 80vw;
    font-weight: 700;
    font-family: 'Alata';
}

.first-name {
    color: #4A90E2;
}

.subtitle {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: Inconsolata;
}

@media screen and (min-width: 761px) and (max-width: 1050px) {

    .hero {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 760px) {

    .hero {
        font-size: 2.2rem;
    }

    .subtitle {
        font-size: 1.1rem !important;
    }
}