.home-title {
    margin-left: 15vw;
    margin-top: 15vh;
}

.hero {
    font-size: 4em;
    max-width: 80vw;
    font-weight: 700;
    font-family: 'Alata';
}

.first-name {
    color: #4A90E2;
}

.subtitle {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: Inconsolata;
}

@media screen and (min-width: 761px) and (max-width: 1050px) {

    .hero {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 760px) {

    .home-title {
        margin: 2rem auto;
    }

    .subtitle { 
        margin: .5rem auto;
        width: fit-content;
        font-size: 1.5rem !important;
    }

    .hero {
        line-height: 1;
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 440px) {
    .home-title {
        margin: .5em auto;
    }

    .hero {
        font-size: 2.5rem;
        margin: 0;
        margin-top: 10vh;
        text-align: left;
        width: fit-content;
    }

    .subtitle { 
        margin: .3rem 0;
        width: fit-content;
        font-size: 1.1rem !important;
    }

    span#se-subtitle {
        display: none;
    }
}