.project-container {
    margin: 3vh 0;
}

.project-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
}

.project-logo {
    margin-right: 1vw;
}

.project-name {
    font-size: 1.3rem;
    font-family: 'Roboto Slab';
    font-weight: 700;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
    text-decoration: none;
}

.project-type {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inconsolata;
    font-size: 1rem;
}

.project-desc {
    font-size: 1em;
    color: #6a6a6a;
    max-width: 50vw;
    text-align: justify;
}

.project-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: .3rem 0;
}

button {
    margin-bottom: 5vh;
}

@media screen and (max-width: 760px) {
    .project-desc {
        max-width: 75vw;
    }
}

@media screen and (max-width: 760px) {

}