.skills-grid {
    margin: 3vh 1vw;
    width: 80vw;
}

.skill-icon {
    margin-right: 3vw;
    margin-bottom: 3vh;
}

@media screen and (max-width: 760px) {
    .skills-grid {
        width: 80vw;
    }
}

@media screen and (max-width: 440px) {
    .skills-grid {
        display: none;
    }
}