.workplace-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
}

.workplace-logo {
    margin-right: 1vw;
}

.workplace-name {
    font-size: 1.3rem;
    font-family: 'Roboto Slab';
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 1rem;
    text-decoration: none;
}

.workplace-role {
    margin-top: 0;
    margin-bottom: .2rem;
    font-size: 1rem;
}

.workplace-desc {
    font-size: 1em;
    color: #6a6a6a;
    max-width: 50vw;
}

.workplace-dates {
    font-size: 0.75em;
    color: #9a9a9a;
    margin-top: .3em;
}

button {
    margin-bottom: 5vh;
}

@media screen and (max-width: 760px) {

    .workplace-logo {
        display: none;
    }

    .workplace-container {
        margin-bottom: 2em;
    }

    .workplace-desc {
        max-width: 90vw;
    }
}

@media screen and (max-width: 440px) {
    
    .workplace-logo {
        display: none;
    }

}